<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->

	
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=202.21.38.39,1433;Initial Catalog=RPMS_DEV;persist security info=True;user id=wcsadmin;password=4d3!N@wcs" providerName="System.Data.SqlClient" />
	  --><!--Integrated Security=SSPI;--><!--
    <add name="PMSEntities" connectionString="metadata=res://*/Database.PMSDB.csdl|res://*/Database.PMSDB.ssdl|res://*/Database.PMSDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=202.21.38.39,1433;initial catalog=RPMS_DEV;persist security info=True;Integrated Security=SSPI;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

	  <!-- 
	  <add name="DefaultConnection" connectionString="Data Source=LAPTOP-SQHQKJ5F;Initial Catalog=RPMS_DEV_TEST_V1;persist security info=True;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
	  <add name="PMSEntities" connectionString="metadata=res://*/Database.PMSDB.csdl|res://*/Database.PMSDB.ssdl|res://*/Database.PMSDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-SQHQKJ5F;initial catalog=RPMS_DEV_TEST_V1;persist security info=True;Integrated Security=SSPI;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
-->
<!--
	  <add name="DefaultConnectionold" connectionString="Data Source=LAPTOP-SQHQKJ5F;Initial Catalog=PMS1_D4S2_V1;persist security info=True;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
-->

	  <add name="DefaultConnectionold" connectionString="Data Source=202.21.38.39,1433;Initial Catalog=RPMS1_DEV_02Nov;User ID=wcsadmin;Password=4d3!N@wcs;Trusted_Connection=False;" providerName="System.Data.SqlClient" />
	  <add name="DefaultConnection" connectionString="Data Source=202.21.38.39,1433;Initial Catalog=RPMS_DEV_TEST_V1;User ID=wcsadmin;Password=4d3!N@wcs;" providerName="System.Data.SqlClient" />
	  <add name="PMSEntities" connectionString="metadata=res://*/Database.PMSDB.csdl|res://*/Database.PMSDB.ssdl|res://*/Database.PMSDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=202.21.38.39,1433;initial catalog=RPMS_DEV_TEST_V1;User ID=wcsadmin;Password=4d3!N@wcs;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="PhysicalPath" value="D:\Development\Swathi\Source\D4S\PMS 2 D4S\SagarPMS2\PMS2" />
    <add key="WriteDebugLog" value="true" />
    <add key="SendMailForExcep" value="false" />

	  <add key="DefaultMailSMTPServer" value="btsol.icewarpcloud.in" />
	  <add key="DefaultMailUserName" value="support@btsol.biz" />
	  <add key="DefaultMailPassword" value="BTSSTeam@123" />
	  <add key="DefaultMailPortNo" value="587" />
	  <add key="DefaultMailEnableSSl" value="false" />
	  <add key="DefaultDisplayName" value="BTS Support" />
	  <add key="DefaultFromMail" value="support@btsol.biz" />
	  <!--<add key="DefaultToMail" value="prabandha@softpal.com" />
	  <add key="DefaultCCMail" value="nithin@softpal.com" />
	  <add key="DefaultBccMail" value="" />
	  <add key="DefaultSupportMail" value="" />
	  <add key="DefaultAdminMail" value="" />
	  <add key="DefaultAdminName" value="Paresh" /> -->
	  <add key="SMPTMailTimeOut" value="100000" />
	  <add key="IsHTML" value="true" />

    <!-- DEFAULT MAIL SETTINGS BEGIN -->
	  <!-- DEFAULT MAIL SETTINGS BEGIN local
	  <add key="DefaultMailSMTPServer" value="sp1.softpal.com" />
	  <add key="DefaultMailUserName" value="prabandha@softpal.com" />
	  <add key="DefaultMailPassword" value="prabandha" />
	  <add key="DefaultMailPortNo" value="25" />
	  <add key="DefaultMailEnableSSl" value="false" />
	  <add key="DefaultDisplayName" value="PMS" />
	  <add key="DefaultFromMail" value="prabandha@softpal.com" />
	  <add key="DefaultToMail" value="prabandha@softpal.com" />
	  <add key="DefaultCCMail" value="nithin@softpal.com" />
	  <add key="DefaultBccMail" value="" />
	  <add key="DefaultSupportMail" value="" />
	  <add key="DefaultAdminMail" value="" />
	  <add key="DefaultAdminName" value="Paresh" />
	  <add key="SMPTMailTimeOut" value="100000" />
	  <add key="IsHTML" value="true"/>
-->
	  <!--<add key="DefaultMailSMTPServer" value="smtp.logix.in" />
		<add key="DefaultMailUserName" value="info@softpal.com" />
		<add key="DefaultMailPassword" value="Migr@te2k18" />
		<add key="DefaultMailPortNo" value="587" />
		<add key="DefaultMailEnableSSl" value="true" />
		<add key="DefaultDisplayName" value="Accounts" />
		<add key="DefaultFromMail" value="info@softpal.com" />
		<add key="DefaultToMail" value="" />
		<add key="DefaultCCMail" value="siddarth@softpal.com" />
		<add key="DefaultBccMail" value="" />
		<add key="DefaultSupportMail" value="support@softpal.com" />
		<add key="DefaultAdminMail" value="admin@softpal.com" />
		<add key="DefaultAdminName" value="Administrator" />
		<add key="SMPTMailTimeOut" value="100000" />
		<add key="IsHTML" value="true"/>
		<add key="IsProxy" value="true"/>
		<add key="ProxyAddress" value="192.168.0.2"/>
		<add key="ProxyPortNo" value="6588"/>-->
	  
	  
    <add key="MailXSLTSFC" value="D:\Development\Swathi\Source\D4S\PMS 2 D4S\SagarPMS2\PMS2" />

    <!--<add key="apiusername" value="API3SP92TWLF7"/>
    <add key ="apipassword" value="API3SP92TWLF7W77GT"/>-->

    <!--LIVE SMS Gateway Credentials-->
    <add key="apiusername" value="APIBYT1U6JGNC" />
    <add key="apipassword" value="APIBYT1U6JGNCHKCT3" />

    <!--Staging SMS Settings-->
    <add key="isStaging" value="1" />
    <add key="stagingMobileNumber" value="9607723860" />

    <add key="PrintPath" value="D:\Development\Swathi\Source\D4S\PMS 2 D4S\SagarPMS2\PMS2" />
    
    <add key="twilioAccountSid" value="ACb898a99e09bb3f1b5cd2761434bfac2e" />
    <add key="twilioAuthToken" value="5357835e60c349f329af676ca7ec4e4c" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime />
    <globalization uiCulture="en" culture="en-GB" />
    <sessionState  timeout="20" mode="InProc" stateNetworkTimeout="20" sqlCommandTimeout="30" cookieName="ASP.NET_SessionId" regenerateExpiredSessionId="false">
      <providers>
        <clear />
      </providers>
    </sessionState>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <add name="MVCGridHandler" verb="*" path="MVCGridHandler.axd" type="MVCGrid.Web.MVCGridHandler, MVCGrid" />
    </handlers>	 
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>