
@{
    ViewBag.Title = "OmissionDetail";
}
<style>
    .data_inline {
        font-size: 1rem;
        font-weight: 500;
    }

    .data_inline_label {
        font-size: 1rem;
        font-weight: bold;
    }
</style>
<div class="panel box-shadow-none content-header">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 col-7">
                <h3 class="animated fadeInLeft text-primary">Omission Details</h3>
            </div>
        </div>
    </div>
</div>