@model PMS.Models.ForgotPasswordViewModel
@{
    Layout = null;
    ViewBag.Title = "Forgot your password?";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Forgot Password</h4>
</div>
<div class="modal-body">

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id="ForgotPassword", name="ForgotPassword" }))
    {
        @*@Html.AntiForgeryToken()*@       
        <br />
        @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
        <div class="form-group">
            @Html.LabelFor(m => m.UserEmail, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UserEmail, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserEmail, "", new { @class = "text-danger" })
            </div>
        </div>
        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Email Link" />
            </div>
        </div>*@
    }

</div>
<div class="modal-footer">
    <button id="btnSelect" name="btnSelect" type="button" class="btn btn-primary" onclick="SendPassword();">Submit</button>
    <button id="btnClose" name="btnClose" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>   

    @*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
